{% block menu %}
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Sistema de Cines Argentinos</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cartelera">Cartelera</a>
                    </li>
                    <li style="border-left: 1px solid #FFFFFF">
                        <a class="page-scroll" href="#precios">Precios</a>
                    </li>

                    {% if user.is_authenticated %}
                    <li style="border-left: 1px solid #FFFFFF">
                        <a class="page-scroll" href="{% url 'accounts-reservations' %}">Mis Entradas</a>
                    </li>
                    {% if user.is_staff %}
                    <li style="border-left: 1px solid #FFFFFF">
                        <a class="page-scroll" href="{% url 'admin:index' %}">Panel</a>
                    </li>
                    {% endif %}
                    <li style="border-left: 1px solid #FFFFFF">
                        <a class="page-scroll" href="{% url 'accounts-logout' %}">Cerrar Sesion</a>
                    </li>
                    {% else %}
                    <li style="border-left: 1px solid #FFFFFF">
                        <a href="{% url 'accounts-login' %}?next={% url 'inicio' %}" class="page-scroll">Ingresar</a>
                    </li>
                    <li style="border-left: 1px solid #FFFFFF">
                        <a href="{% url 'accounts-register' %}?next={% url 'inicio' %}" class="page-scroll">Registrarse</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

        {% if breadcrumbs %}
            <div class="navbar-header page-scroll">
                <ol class="breadcrumb">
                    {% for b in breadcrumbs %}
                        {% if forloop.last %}
                        <li class="breadcrumb-item active">{{ b.name}}</li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="{{ b.url }}">{{ b.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>   
            </div>
        {% endif %}

        <!-- /.container-fluid -->
    </nav>
{% endblock menu %}


<!-- Filtro por Tipo de video-->
<div class="col-sm-12 list-g">
    <ul class="nav nav-pills nav-justified" role="tablist" id="filtro">
        <li class="active"><a href="#todas" role="tab" data-toggle="tab">Todas</a></li>
        {% for tv in tipovideos %}
            <li><a href="#{{ tv.nombre }}" role="tab" data-toggle="tab">{{ tv.nombre }}</a></li>
        {%endfor%}
    </ul>
</div>

<!-- Filtro por genero
<div class="col-sm-12 list-g">
    <ul class="nav nav-pills nav-justified" role="tablist" id="filtro">
        <li class="active"><a href="#todas" role="tab" data-toggle="tab">Todas</a></li>
        {% for g in generos %}
            <li><a href="#{{ g.nombre }}" role="tab" data-toggle="tab">{{ g.nombre }}</a></li>
        {%endfor%}
    </ul>
</div>
-->


<div class="col-sm-12 list-g">
    <div class="tab-content">
        <div class="tab-pane in active" id="todas">
            <section id="cartelera" class="bg-light-gray">
                <h2 class="section-heading">Cartelera</h2>
                <div>
                    {% for p in peliculas %}
                        {% if p.proximas_funciones.count > 0 %}
                        <div class="cartelera-item">
                            <a href="{% url 'ver-pelicula' id_pelicula=p.id %}">
                            <a href="{% url 'ver-pelicula' id_pelicula=p.id %}" class="cartelera-link" data-toggle="modal">
                                <div class="cartelera-hover">
                                    <div class="cartelera-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="{{ p.poster_icono.url }}" class="img-pelicula" alt="">
                            </a>
                            <div class="cartelera-caption info">
                                    <h4 class="nombre-pelicula">{{ p.titulo }}</h4>
                                    <p class="descripcion-pelicula-cartelera"> {{p.audio}}- {{p.tipo_video}}</p>
                            </div>
                        </div>
                        {% endif %}
                    {% empty %}
                        <h4>Lo sentimos</h4>
                        <p>No tenemos funciones programadas</p>
                    {% endfor %}
                </div>
            </section>
        </div>
        {% for tipovideo in tipovideos %}
            <div class="tab-pane" id="{{ tipovideo.nombre }}">
                <section id="cartelera" class="bg-light-gray">
                    <h2 class="section-heading">Cartelera</h2>
                    <div>
                        {% for p in peliculas %}
                            {% ifequal p.tipo_video.nombre tipovideo.nombre %}
                                {% if p.proximas_funciones.count > 0 %}
                                    <div class="cartelera-item">
                                        <a href="{% url 'ver-pelicula' id_pelicula=p.id %}">
                                        <a href="{% url 'ver-pelicula' id_pelicula=p.id %}" class="cartelera-link" data-toggle="modal">
                                            <div class="cartelera-hover">
                                                <div class="cartelera-hover-content">
                                                    <i class="fa fa-plus fa-3x"></i>
                                                </div>
                                            </div>
                                            <img src="{{ p.poster_icono.url }}" class="img-pelicula" alt="">
                                        </a>
                                        <div class="cartelera-caption">
                                            <h4>{{ p.titulo }}</h4>
                                            <p class="text-muted"> {{p.audio}}- {{p.tipo_video}}</p>
                                            <p class="text-muted">{{ p.proximas_funciones.count }} Funci{{ p.proximas_funciones.count|pluralize:"ón,ones"}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endifequal %}
                            {% empty %}
                            <h4>Lo sentimos</h4>
                            <p>No tenemos funciones programadas</p>
                        {% endfor %}
                    </div>
                </section>
            </div>
        {% endfor %}
    </div>
</div>

<div class="col-sm-12">
    <div class="tab-content">
        <section id="precios">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="section-heading">Precios vigentes</h2>
                            <h4 class="font-precios"> _________________________ </h4>
                           <!-- Area de precios -->
                            {% for p in precios %}
                            {% if p.esta_vigente %}
                            <div class="row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-inline quicklinks">
                                        <li>
                                            <h5> {{ p.tipo_precio.nombre }} </h5>
                                        </li>
                                        <li>
                                           $ {{ p.monto }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                            {% endif %} 
                            {% endfor %}                         
                        </div>
                    </div>
                </div>
        </section>
    </div>
</div>
