<article class="funciones-article">
<h2>Próximas Funciones:</h2>
{% if pelicula.proximas_funciones.exists %}
	<table class="funciones-table">
		<thead>
			<td>¿Dónde?</td>
			<td>¿Cuándo?</td>
			<td></td>
			<td></td>
		</thead>
		<tbody>
			{% for funcion in pelicula.proximas_funciones %}
			<tr>
				<td>{{ funcion.sala.direccion }} &mdash; {{ funcion.sala.nombre }}</td>
				<td>{{ funcion.fecha }}</td>
				{% if user.is_authenticated %}
					<td style="text-align: center">
						<a class="btn btn-default" href="{% url 'reservas-reserve' id_funcion=funcion.id %}">Reservar</a>
						<a class="btn btn-primary" href="{% url 'reservas-buy' id_funcion=funcion.id %}">Comprar</a>
						{% if request.user.is_staff %}
						<a class="btn btn-default" href="{% url 'reservas-sell' id_funcion=funcion.id %}">Vender</a>
						{% endif %}
					</td>
				{% else %}
					<td style="text-align: center">
						<a class="btn btn-default" href="{% url 'accounts-login' %}?next={% url 'inicio' %}">Ingresar</a>
						<a class="btn btn-primary" href="{% url 'accounts-register' %}?next={% url 'inicio' %}">Registrarse</a>
					</td>


				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
No hay funciones para esta película
{% endif %}
</article>
