{% load timedelta %}
<article class="pelicula-article">        	
	<img src="{{ pelicula.poster_icono.url }}" />
	<h2>{{ pelicula.titulo }}
	{% if pelicula.titulo_original is not None and pelicula.titulo_original != pelicula.titulo %}
		({{ pelicula.titulo_original }})
	{% endif %}
	</h2>
	<div class="descripcion-peliculas">
		<p>Sinopsis: {{ pelicula.sinopsis }}</p>
		<p>Duracion: {{ pelicula.duracion|td_hours_part }}h {{ pelicula.duracion|td_minutes_part }}m</p>
		<p>Idioma (audio): {{ pelicula.audio.nombre }}</p>
		{% if pelicula.subtitulo.nombre %}
			<p>Idioma (subtítulos): {{ pelicula.subtitulo.nombre }}</p>
		{% endif %}
		<p>Video: {{ pelicula.tipo_video.nombre }}</p>
	</div>
</article>
