{% extends "base.html" %}
{% load i18n %}

{% block content %}

        <!-- Header -->
        <div class="topbar-placeholder">
        </div>
		<article class="reservations-article">

			<h2>Pagos Realizados</h2>
			<table>
				<thead>
					<td>Función</td><td>Cant. Butacas</td><td>Monto</td><td></td>
				</thead>
				<tbody>
				{% for p in paid_codes %}
					<tr>
						<td><a href="{% url 'reservas-buy' id_funcion=p.funcion.id %}">{{ p.funcion }}</a></td>
						<td>{{ p.count }}</td>
						<td>${{ p.pago.monto }}</td>
						<td><a href="{% url 'reservas-code' codigo=p.code %}"><button type="button" class="btn btn-primary">Ver/Imprimir</button></a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

			<h2>Pagos Pendientes </h2>
			<table>
				<thead>
					<td>Función</td><td>Código</td><td>Cant. Butacas</td><td>Acciones</td>
				</thead>
				<tbody>
				{% for p in pendientes %}
					<tr>
						<td>{{ p.funcion }}</td>
						<td>{{ p.code }}</td>
						<td>{{ p.count }}</td>
						<td>
							<a href="{% url 'reservas-pagar' codigo=p.code %}"><button type="button" class="btn btn-primary">Pagar</button></a> 
							<a href="{% url 'reservas-imprimir' codigo=p.code %}"><button type="button" class="btn btn-primary">Imprimir</button></a>
					</tr>
				{% endfor %}
				</tbody>
			</table>

			<h2>Detalles de todas las Reservas</h2>
			<table>
				<thead>
					<td>Fecha</td><td>Pelicula</td><td>Butaca</td><td>Código</td><td></td>
				</thead>
				<tbody>
				{% for r in reservations %}
					<tr>
						<td><a href="{% url 'reservas-reserve' id_funcion=r.entrada.funcion.id %}">{{ r.entrada.funcion.fecha }}</a></td>
						<td><a href="{% url 'ver-pelicula' id_pelicula=r.entrada.funcion.pelicula.id %}">{{ r.entrada.funcion.pelicula }}</td>
						<td>{{ r.entrada.butaca }}</td>
						<td>{{ r.codigo|slice:":12" }}...</td>
						<td>
							<form action="{% url 'accounts-cancel' %}" method="POST">
								<input type="hidden" name="estadoentrada_id" value="{{ r.id }}">
								{% csrf_token %}
								<input type="submit" class="btn btn-default" value="Cancelar" />
							</form>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

		</article>
{% endblock content %}
