/* ENTRADA*/
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Krub|Molengo');


* {
    margin: 0px;
    padding: 0px;
}

.oscuro {
    background-color: #4b4b4b;
}

.container {
    text-align: center;
}

.entrada {
    background-color: #fbfbfb;
    margin: 50px 100px;
    border: solid #333 0.5px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0rem;
    grid-template-areas:

    "titulo titulo titulo"
    "peli funcion sala"
    "butacas butacas butacas"
    "codigo codigo codigo"
    "cliente cliente cliente"
    "leyendas leyendas leyendas"

    ;
}

.entrada h4{
    margin:  10px 2px;
    font-family: 'Julius Sans One', sans-serif;
    color: #555;
    font-size: 14px;
}

.entrada p {
    margin:  10px 2px;
    font-size: 16px;
}


.titulo {
    padding:  20px;
    font-family: 'Julius Sans One', sans-serif;
    background-color: #222222;
    grid-area: titulo;
    text-align: center;
    color: #ba2121;
}

.peli {
    grid-area: peli;
    border: solid #333 0.5px;
    text-align: center;
}

.sala {
    grid-area: sala;
    border: solid #333 0.5px;
    text-align: center;
}

.funcion {
    grid-area: funcion;
    border: solid #333 0.5px;
    text-align: center;
}

.butacas {
    border: solid #333 0.5px;
    text-align: center;
    grid-area: butacas;
}

.cliente {
    font-size: 9px;
    border: solid #333 0.5px;
    text-align: center;
    grid-area: cliente;
    font-family: 'Krub', sans-serif;
}

.codigo {
    padding: 30px 2px; 
    text-align: center;
    grid-area:codigo;
    border: solid #333 0.5px;
}

.centradoalospalos{
    margin: 10px 0px; 
    width: 360px;
    height: 100px;
    display:inline-flex;
}

.leyendas {
    border: solid #333 0.5px;
    text-align: left;
    grid-area:leyendas;
}

.leyendas>p{
    font-size: 10px;
}

small {
    margin: 0px;
    color: #333;
}