{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react-dom.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/js/app.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
	let rooms = {{ room |safe }};
	let seats = {{ seats|safe }};
	let entryStates = {{ entrystates|safe }};
	let entries = {{ entries|safe }};
	let prices = {{ prices|safe }};
	let pricetypes = {{ pricetypes|safe }};
	let promos = {{ promos|safe }};
	StartBuyingMap(document.querySelector('#buy-map'), {
		'rooms': rooms, 'seats': seats, 'entries': entries,
		'entryStates': entryStates, 'prices': prices, 'priceTypes': pricetypes, 'promos': promos,
	});
})
</script>
<link rel="stylesheet" href="{% static 'map.css' %}" />
{% endblock %}

{% block content %}
<!-- Header -->
<div class="topbar-placeholder"></div>
{% include 'peliculas/pelicula-fragment.html' with pelicula=funcion.pelicula %}
<hr/>
{% include 'salas/sala-fragment.html' with sala=funcion.sala %}
<hr/>
<article id="mapa-butacas">
	<h2>Comprando Disponibilidades</h2>
	<a href="{% url 'reservas-reserve' id_funcion=funcion.id%}"><button class="btn btn-default">Reservar</button></a>
	<button class="btn btn-primary">Comprar</button>
	{% if request.user.is_staff %}
	<a href="{% url 'reservas-sell' id_funcion=funcion.id%}"><button class="btn btn-default">Vender</button></a>
	{% endif %}
	<br/>
	<form action="{% url 'reservas-buy' id_funcion=funcion.id %}" method="POST">
		<div class="pantalla-wrapper">
			<div class="pantalla">Pantalla</div>
			<div id="buy-map"></div>
		</div>
		<table class="tarjeta-form">{{ tarjeta_form.as_table }}</table>
		{% csrf_token %}
		<button type="submit">Comprar</button>
	</form>
</article>
{% endblock content %}
