{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react-dom.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/js/app.js" %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    let seats = {{ seats | safe}};
    console.log(seats);
    let entradas = {{ entradas|safe}};
	let prices = {{ prices|safe }};
	let pricetypes = {{ pricetypes|safe }};
    let promos = {{ promos|safe }} ;
    let estadoentradas = {{ estadoentradas|safe }} 
	/*StartSeatPricePickerList(document.querySelector('#price-selector'), {
		'prices': prices, 'priceTypes': pricetypes, 'seats': seats, 'promos': promos,
	})*/
    Lista(document.querySelector('#price-selector'), {
        'seats': seats, 'prices': prices, 'priceTypes':pricetypes, 'promos': promos, 'entradas': entradas, 'estadoentradas': estadoentradas,
    });
    ;
})
</script>
{% endblock %}

{% block content %}
<div class="topbar-placeholder"></div>
    {% for ee in estadoentradas %}
        <p>{{ ee.codigo }} </p>
    {% endfor %}
<article id="seleccion-precio">

	<form method="POST">

        <!--DATOS PELICULA  -->
        <h2>DATOS PELICULA</h2>
        <table>
            <tr><th>Fecha y hora: </th><td>{{ funcion.fecha }}</td>
            <tr><th>Pelicula: </th><td>{{ funcion.pelicula }}</td>
            <tr><th>Sala: </th><td>{{ funcion.sala }}</td></tr>
        </table>

        <table>
            {% if user.persona %}
                <tr><th>Apellido</th><td>{{ user.persona.apellido }}</td></tr>
                <tr><th>Nombre</th><td>{{ user.persona.nombre }}</td></tr>
                <tr><th>Documento</th><td>{{ user.persona.tipo_dni }} &mdash; {{ user.persona.nro_dni }}</td></tr>
            {% endif %}
            <tr><th>Nombre de usuario</th><td>{{ user.username }}</td></tr>
        </table>

        <!--TIPO DE PRECIOS -->
    	<h2>Elegir tipo de entrada</h2>
		<div id="price-selector">
		</div>
        
        <!--TARJETA -->
        {% if tarjeta_form %}
        <h2>Datos de la tarjeta</h2>
            <table>
                {{ tarjeta_form.as_table }}
            </table>
        {% endif %}

        {% csrf_token %}

        <button type="submit" class="btn btn-primary">Pagar</button>
	</form>
</article>
{% endblock content %}
