{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
	<head>
		<style>
		html {
			font-family: sans-serif;
		}
		h1 {
			font-size: 18pt;
		}
		h2 {
			font-size: 16pt;
		}
		table {
			border-collapse: collapse;
		}
		td,th {
			border: 1px solid black;
			padding: 0.5em;
		}
		th {
			font-weight: bold;
		}
		tr th {
			text-align: right;
		}
		thead th {
			text-align: center;
		}
		tfoot {
			font-weight: bold;
		}
		svg {
			width: 100%;
		}
		p {
			margin: 0.5em;
		}
		.legend {
			font-size: 10pt;
			font-style: italic;
		}
		</style>

		 <!-- MEJORAS CSS -->
        <link href="{% get_static_prefix %}sitema-de-reserva/css/entradas.css" rel="stylesheet">
	</head>
		<body>

	  {% for ee in estadoentradas %}
	     <div class="container">
	            <div class="entrada">
	                <div class="titulo">
	                     <h1> CINES ARGENTINOS</h1>
	                </div>

	                <div class="peli">
	                    <h4 class="campo"> Pelicula </h4> 
	                    <p> {{ funcion.pelicula }} </p>
	                </div>

	                <div class="funcion">
	                    <h4 class="campo"> Función </h4> 
	                    <p> {{ funcion.fecha }} </p>
	                </div>
	                <div class="sala">
	                    <h4 class="campo"> Sala </h4> 
	                    <p> {{ funcion.sala }} </p>
	                </div>

	                <div class="butacas">
	                    <h4 class="campo"> Butacas Pagas </h4>
	                        
	           
	                        <p>
	                            <strong>{{ ee.0.entrada.butaca }}</strong> <br>
	                            <small>{{ ee.1.tipo_precio.nombre }}</small> |
	                            <small>{{ ee.2.nombre }}</small> |
	                            <small> ${{ ee.3 }}</small>			
	                        </p>
	                        
	                    
	                </div>



	                <div class="codigo">
	                    <div class="centradoalospalos">
	                        <svg>
	                        {{ code39|safe }}
	                        </svg>
	                    </div>
	                </div>

	                <div class="leyendas">
	                    <p>* Ticket no valido como factura</p>
	                    <p>* El precio de las reservas no es definitivo hasta realizar el pago</p>
	                </div>   

	            </div>
	        </div>  
	{% endfor %}

	</body>
</html>
