{% extends 'admin/change_form.html' %}

{% load i18n %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link href="{% get_static_prefix %}sitema-de-reserva/css/jquery-ui.css" rel="stylesheet" />
<link href="{% get_static_prefix %}admin/css/changelists.css" rel="stylesheet" />
<style type="text/css">
svg {
    width: 100%;
}
</style>
{% endblock %}

{% block breadcrumbs%}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; Otros
&rsaquo; Verificar codigo
</div>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/react/react-dom.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/js/app.js" %}"></script>
<script type="text/javascript" src="{% static "sitema-de-reserva/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static 'sitema-de-reserva/vendor/jquery/jquery-ui.min.js' %}"></script>
<script src="{% static 'sitema-de-reserva/vendor/jquery/datepicker-es.js' %}"></script>


<script type="text/javascript">
$(document).ready(function() {
    console.log('HOLA SOY LA NUEVA IMPLEMENTACION');
    {% if seats %}
    let seats = {{ seats | safe}};
    let entradas = {{ entradas|safe}};
    let prices = {{ prices|safe }};
    let pricetypes = {{ pricetypes|safe }};
    let promos = {{ promos|safe }} ;
    let estadoentradas = {{ estadoentradas|safe }} ;
    Lista(document.querySelector('#price-selector'), {
        'seats': seats, 'prices': prices, 'priceTypes':pricetypes, 'promos': promos, 'entradas': entradas, 'estadoentradas': estadoentradas,
    });



    {% endif %}
    {% if last_code %}
    // Negrada para que no muestre el form cargado con el viejo last_code cuando ya pago
    $(".changelist-search").trigger('reset');
    $(".changelist-search ul").remove()
    $("#id_codigo").val('');
    window.open('{% url 'reservas-code' codigo=last_code%}');
    {% endif %}
})
</script>


{% endblock %}

{% block content %}<div id="content-main">
<h1>Ingrese código a verificar</h1>
<h1> SOY EL NUEVO!</h1>
<div id="changelist">
    <div id="toolbar">
        <form class="changelist-search" method="GET">
            {{ code_form }}
            <input type="submit" value="Verificar" />
        </form>
    </div>
</div>


{% if code39 %}
    <h1> codigo valido</h1>

    <article id="seleccion-precio">

        <form method="POST">
            <!--DATOS PELICULA  -->
            <h2>DATOS PELICULA</h2>
            <table>
                <tr><th>Fecha y hora: </th><td>{{ funcion.fecha }}</td>
                <tr><th>Pelicula: </th><td>{{ funcion.pelicula }}</td>
                <tr><th>Sala: </th><td>{{ funcion.sala }}</td></tr>
            </table>

            <table>
                {% if user.persona %}
                    <tr><th>Apellido</th><td>{{ user.persona.apellido }}</td></tr>
                    <tr><th>Nombre</th><td>{{ user.persona.nombre }}</td></tr>
                    <tr><th>Documento</th><td>{{ user.persona.tipo_dni }} &mdash; {{ user.persona.nro_dni }}</td></tr>
                {% endif %}
                <tr><th>Nombre de usuario</th><td>{{ user.username }}</td></tr>
            </table>

            <!--TIPO DE PRECIOS -->
            <h2>Elegir tipo de entrada</h2>
            <div id="price-selector">
            </div>
            
            <!--TARJETA -->
            {% if tarjeta_form %}
            <h2>Datos de la tarjeta</h2>
                <table>
                    {{ tarjeta_form.as_table }}
                    {{ codigo }}
                </table>
            {% endif %}

            {% csrf_token %}

            <button type="submit" class="btn btn-primary">Pagar</button>
        </form>
    </article>

{% endif %}
</div>
{% endblock %}
