
.nav>li>a {
	padding: 0.7em 0.7em 0.7em 0.7em;
}

.breadcrumb {
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: sans-serif;
	margin-left: 1em;
}

header .intro-text {
	padding-bottom: 4em !important;
}

/* placeholder para que la barra superior no tape el contenido */
.topbar-placeholder {
	min-height: 120px;
}

#mainNav {
	background-color: rgb(0,0,0);
	padding: 0.8em;
}

#ver-pelicula-header {
	background-position-y: top;
	background-size: cover;
	margin-top: 70px;
}

#cartelera {
	padding-top: 2em;
	padding-left: 2em;
	margin-left: 0px;
	margin-right: 0px;
}

#cartelera h2 {
	text-align: center;
	margin-left: 20px;
	margin-bottom: 30px;
}

#cartelera>div {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start
}
#cartelera>div .cartelera-item {
	margin: 0 1em;
}

#cartelera article img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#cartelera article h1 {
	font-size: 180%;
}

#precios{
	background-color: #222;	
}

#precios h2, #precios p,  #precios ul,  #precios li{
	color: #fee;
}



.img-pelicula{
	width: 200px;
	height: 296px;
	display: block;
}

.intro-heading-ver-pelicula {
	background-color: rgba(0,0,0,0.5);
}

article.pelicula-article {
	margin-top: 2em;
	margin-left: 15px;
	padding-left: 2em;
	padding-right: 2em;
	overflow: auto;
}

hr {
	margin: 0;
}

article.pelicula-article img {
	float: left;
	height: 20em;
	margin-right: 2em;
}

article.funciones-article {
	margin-left: 15px;
	padding-left: 2em;
	clear: both;
}

.funciones-table {
	text-align: left;
}

.funciones-table thead {
	color: #ba2121;
	font-weight: bold;
	font-size: 130%;
	padding: 0;
}

.funciones-table td {
	padding: 0 3em 0 20px;
}

article.sala-article {
	text-align: right;
	clear: both;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 2em;
	padding-right: 2em;
	overflow: auto;
}

article.sala-article img {
	float: right;
	height: 15em;
	width: auto;
	padding-left: 2em;
}



article.reservations-article {
	padding: 2em;
	margin: 0 15px 0 15px;
}
article.reservations-article table {
	text-align: left;
}

article thead, article tfoot {
	color: #ba2121;
	font-weight: bold;
	font-size: 130%;
	padding: 0;
}
article.reservations-article td {
	padding: 0.5em 3em 0.5em 20px;
}

article.reservations-article form {
	display: inline;
}

#seleccion-precio {
	margin-left: 15px;
	margin-right: 15px;
	padding: 2em;
}

#seleccion-precio td {
	padding: 0.5em 1em 0.5em 1em;
}

.font-precios{
	color: #ffe;
}

#filtro{
	background-color: #222 ;
}

#filtro a{
	color: #ffe;
}

#filtro li a:hover{
	background-color: #ba2121 ;
}
