{% extends "base.html" %}
{% load i18n %}

{% block content %}
        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Cines Argentinos</div>
                    <div class="intro-heading">Sistema de Reservas</div>
                    {% if user.is_authenticated %}
                        <h3>Hola, {{ user.username }}</h3>
                    {% else %}
                        <a href="{% url 'accounts-login' %}?next={% url 'inicio' %}" class="page-scroll btn btn-xl">Ingresar</a>
                        <a href="{% url 'accounts-register' %}?next={% url 'inicio' %}" class="page-scroll btn btn-xl">Registrarse</a>
                    {% endif %}
                </div>
            </div>
        </header>
		{% include 'peliculas/cartelera-fragment.html' %}
{% endblock content %}
c